.fixed-whatsapp {
     position: fixed;
     bottom: 50px;
     left: 20px;
     width: 80px;
     height: 80px;
     line-height: 80px;
     z-index: 9999;
     text-align: center;
    
}
 .fixed-whatsapp:before {
     content: "";
     width: 80px;
     height: 80px;
     background-color: #00C853;
     position: absolute;
     border-radius: 100%;
     box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
     z-index: 1;
     top: 0;
     left: 0;
     font-size: 20px;
}
 .fixed-whatsapp svg {
     vertical-align: middle;
     z-index: 2;
     position: relative;
}

